.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 15px;
}

.card .title {
    color: grey;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin-right: 10px;
}

img {
    margin-bottom: 10px;
}

.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
.social-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . . .";
    margin: 24px 0;
}
